<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>aXeSiA - analytics - {{titleEnd}}</title>
    <description>aXeSiA - analytics - {{titleEnd}} - simple visualization and presentation of all the audits that are in the database</description>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="res/style.css">
</head>
<body>
  <main>
    <h1>aXeSiA - analytics - {{titleEnd}}</h1>
    {{{body}}}    
  </main>
  <script src="res/script.js"></script>
</body>
</html>