<article class="home">
<p>{{axeSummary}}</p>
<p>{{lighthouseSummary}}</p>
</article>
<script>
const dataStr = '{{data}}';
const dataCleaned = JSON.parse(dataStr.replaceAll("&quot;", '"'));
console.log(dataCleaned);
</script>