*{
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

p,a{
    line-height: 1.6;
}

.sr-only,
.screen-reader-only {
    position: absolute;
    width: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}

a[target="_blank"]::after {
    content: url("data:image/svg+xml,%0A%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='blue' d='M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z'%3E%3C/path%3E%3C/svg%3E%0A");
    display: inline-block;
    margin-left: 0.2em;
    width: 1em;
    height: 1em;
}


/* style details */
details{
    box-shadow:0 0 5px lightgrey;
    border-radius:40px;
    margin:2rem 0;
    border: 1px solid lightgrey;
  }
  
  details:hover,
  details:focus{
    box-shadow:0 0 7px black;
  }
  
  summary{
    padding:20px;
    font-size:1.3rem;
    border-radius:60px;
    border-bottom: 1px solid lightgrey;
    line-height: 1;
    cursor:pointer;
  }

  summary span{
    display: inline-block;
    max-width: calc(100% - 50px);
    vertical-align: middle;
    word-break: break-all;
  }
  
  .details-content{
    padding: 20px;
    font-size:1.2rem;
    line-height:1.5;
  }

  /**/

  main{
    max-width: 1000px;
    margin: 0 auto;
  }

  /**/

  table.audit-details-table{
    margin: 1rem 0;
  }

  table.audit-details-table th{
    padding: 0.5rem;
    border: 1px solid;
    text-align: left;
  }

  table.audit-details-table td{
    padding: 0.5rem;
    border: 1px solid;
    text-align: left;
  }
  table.audit-details-table caption{
    text-align: left;
  }

  /***/
  article{
    margin: 2rem 0;
  }

  hr.main-hr{
    border: 4px dashed grey;
    margin-block-start: 3em;
    margin-block-end: 3em;
  }

  /* main */
  .main-domain-nav-holder{
    padding:1rem;
}

.domain-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.domain-nav a{
    padding:1rem;
    font-size: 1.5rem;
    display: block;
    margin: 0.5rem -1rem;
    outline: none;
    color:blue;
}

.domain-nav a:focus, 
.domain-nav a:hover{
    box-shadow: 1px 1px 16px 0px black;
    border-radius: 4px;
    color:black;
}

.domain-nav article{
    border-top: 2px solid black;
    margin:2rem 0;
    line-height: 1.6;
}

.domain-nav article p{
   
    font-size:1.1rem;
    margin:0 0 0.5rem 0;
}

.domain-nav article h3{
    font-size:1.8rem;
    margin:0.5rem 0;
}


.domain-nav article h4{
    font-size:1.6rem;
    margin:0.25rem 0;
}
/**/